USER_SERVICE_GRPC_TARGET=127.0.0.1:50051
A_SERVICE_GRPC_TARGET=127.0.0.1:50053
USER_SERVICE_PORT=8001
ORDER_SERVICE_PORT=8002
A_SERVICE_PORT=8003
GRPC_PORT_USER=50051
GRPC_PORT_A=50053
REDIS_OM_URL=redis://default:password@your-redis-cloud-host:6379
